
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!--<h1 class="brand-heading">&nbsp;</h1>-->
            <!--<h1 class="brand-heading">&nbsp;</h1>-->
            
            <!--<h5>&nbsp;</h5>-->
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% elsif site.me-img != "NIL" %}
                <h2>{{ site.me-img }}</h2>
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% else %}
              {% endif %}
            </a>
			<h5>&nbsp;</h5>
			<h1>{{ site.author }}</h1>
			<span class="intro-text">{{ content }}</span>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
